# Ignore all dot folders and dot files
.*/

# Except .gitignore (keep this file)
!.gitignore

# Ignore specific dot directories
.sisyphus/

# Ignore .um~ files
*.um~

# Ignore common temp files
node_modules/
.DS_Store
Thumbs.db
